@charset  "utf-8";

body{
    background-color: rgb(63, 63, 245);
    font: bold 13pt arial;
}
h1{
    color: white;
    text-align: center;
}
/*Paragráfo do input ano nascimento*/
#txtNasc{
 margin-top: 10px;
}
/*Parágrafo que mosta gênero e idade*/
#msg{
    padding-bottom: 10px;
}
#button{
    background-color: rgb(27, 27, 253);
    color: white;
}

section{
    width: 500px;
    background-color: white;
    box-shadow: 1px 2px 5px black;
    margin: auto;
    border-radius: 6px;

}
div{
    text-align: center;
}
p{
    margin-bottom: 0px;
}
